:root {
	/* ratios for maintaining visual consistency */
	--ratio: 1.55;
	--s-5: calc(var(--s-4) / var(--ratio));
	--s-4: calc(var(--s-3) / var(--ratio));
	--s-3: calc(var(--s-2) / var(--ratio));
	--s-2: calc(var(--s-1) / var(--ratio));
	--s-1: calc(var(--s0) / var(--ratio));
	--s0: 1rem;
	--s1: calc(var(--s0) * var(--ratio));
	--s2: calc(var(--s1) * var(--ratio));
	--s3: calc(var(--s2) * var(--ratio));
	--s4: calc(var(--s3) * var(--ratio));
	--s5: calc(var(--s4) * var(--ratio));

	/* zero value*/
	--zero: 0;

	/* measure width */
	--measure: 60ch;

	/* spacing between sidebar and not-sidebar */
	--sidebar-spacing: var(--s1);

	--color-primary: #ffc902;
	--color-secondary: #0a008a;
	--color-ternary: #ff4a12;
}

* {
	/* in general calculate from border-box */
	box-sizing: border-box;

	/* cap mac with for visual elements */
	max-width: var(--measure);
}

/* logical exceptions from measure rule */
html,
body,
div,
header,
nav,
main,
footer {
	max-width: none;
}

body, p {
	margin: 0;
	padding: 0;
}